<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card-body">

    <div class="wrapper">

      <div class="flex-card">
        <span class="span">Valor das Parcelas</span>
        <span id="ci-total" class="bold dark">{{ response.valueInstallments | currency: 'BRL'}}</span>
      </div>
      <div class="flex-card">
        <span class="span">Número de Parcelas</span>
        <span id="ci-total" class="bold blue">{{ response.numberInstallments }}</span>
      </div>
      <div class="flex-card">
        <span class="span">Total de Juros</span>
        <span id="ci-total" class="bold green">{{ response.totalWithInterest  | currency: 'BRL'}}</span>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="confirme()">Confirma</button>
  <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
</div>
